<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <title>Receitas Tudo de Bom</title>
    <head>
        <title>Receitas Tudo de Bom</title>
        <link rel="Icon" href="image/sabor.ico">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
</hea>
<body>
    <meta charset="UTF-8">
    <style text-height: auto;>
        body {
            background-color: #240303;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-shadow: 0 1px 0 #000;
            
        }
       
    </style>
    <head>
    <title>Receitas Tudo de Bom</title>
    <link rel="Icon" href="image/sabor.ico">
       <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  
  <Body>
  <header layout:fragment="content">
    <nav class="nav-extended">
  
      <div class="nav-wrapper">
      </div>
    <a href="#"><img src="image/culinaria.png"></a>
    <p>Cozinhar é como um espetáculo:
      É preciso muita organização, treino, dedicação, conhecimento e amor para que, no final, os cinco sentidos o aplaudam de pé</p>
    </nav>
    </div>
    </nav>
  </header>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  
</body>
</html>